{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card bg-light mb-3 mt-3">
                    <div class="card-body">
                        {% if app.user == null %}
                        <div class="card-header">Please login to view the List of the Users</div>
                        <a href="{{ path('login') }}" class="btn btn-info">Login</a>
                        <a href="{{ path('register') }}" class="btn btn-info">Register</a>
                        {% else %}
                        <div class="card-header">List of Users</div>
                        <table class="table">
                            <tr>
                                <th>Username</th>
                                <th>First name</th>
                                <th>Last name</th>
                            </tr>
                            {% for key, user in users %}
                                <tr>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.firstname }}</td>
                                    <td>{{ user.lastname }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
